%div{:id => "#{dom_id entry}"}
  %p
    %strong Date:
    = entry.date
  %p
    %strong Title:
    = entry.title
  %p
    %strong Body:
    = entry.body
  %p
    %strong Mood:
    = entry.mood
  %p
    %strong User:
    = entry.user_id
