<h1>日記</h1>

<%= form_with url: entries_path, method: :get, local: true do |f| %>
  <%= f.text_field :q, value: @q, placeholder: "タイトル・本文で検索" %>
  <%= f.submit "検索" %>
<% end %>

<p><%= link_to "新規作成", new_entry_path %></p>

<table>
  <thead>
    <tr><th>日付</th><th>気分</th><th>タイトル</th><th></th></tr>
  </thead>
  <tbody>
    <% @entries.each do |e| %>
      <tr>
        <td><%= e.date %></td>
        <td><%= e.mood&.humanize %></td>
        <td><%= link_to e.title, e %></td>
        <td><%= link_to "編集", edit_entry_path(e) %> | <%= link_to "削除", e, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
